
.card-description {
  transition: all 0.6s;
  height: 10vh;
}

.card-description:hover {
  transform: translateY(-50%);
  height: 20vh;
  
}
.card-description > h2 > span {
  font-size: large;
  font-weight: bolder;
}

